.custom-table {
	width: 100%;
}

.custom-table td, .custom-table th{
	padding: 10px 5px;
}

.custom-table th {
	width: 175px;
	max-width: 175px;
}

.table-knobs {
	text-align: center;
}

.table-knobs div {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
